.OpenScreenText{
    margin-top: 2rem;   
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -.06em;
    font-family: "Rajdhani", sans-serif;
}
.OpenScreenButton{
    align-items: center;
}
.OpenScreenButton button {
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 2em;
    margin-top: 6rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid #f68B01;
    background-color: #f68B01;
    color: rgb(236, 40, 40);
    border-radius: 12px;

}
  
  .OpenScreenButton button:hover,
  .OpenScreenButton button:active {
    background-color: #5e5e5e77;
    border-color: #5e5e5e77;
  }
  
  .OpenScreenButton button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .OpenScreenButton.alternative:hover,
  .OpenScreenButton.alternative:active {
    background-color: #ff0000 ;
  }
.link:visited{

    font-family: "Rajdhani", sans-serif;
    color: rgb(0, 0, 0);
    text-decoration-color: rgba(255, 0, 0, 0);
    font-weight: bold;
}
.link:link{
    color: rgb(0, 0, 0);
    text-decoration-color: rgba(255, 0, 0, 0);
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
}
.icon{
  margin-left: auto;
  margin-right: auto;
  margin-top:3rem;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  align-items: center;
  display: block;

  
}
    
  